FormsApp/Connected Services/ServiceRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8701/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Requests" />
  <xs:import schemaLocation="http://localhost:8701/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Responses" />
  <xs:element name="Autorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Requests" minOccurs="0" name="request" nillable="true" type="q1:Authorization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Responses" minOccurs="0" name="AutorizationResult" nillable="true" type="q2:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Requests" minOccurs="0" name="request" nillable="true" type="q3:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Responses" minOccurs="0" name="RegistrationResult" nillable="true" type="q4:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Requests" minOccurs="0" name="request" nillable="true" type="q5:OrderFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Responses" minOccurs="0" name="OrderFoodResult" nillable="true" type="q6:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>